html {
  &.mobile-navigation-visible {
    overflow-x: hidden;
  }
}

body {
  font-family: 'Exo2', 'Lato', sans-serif;
  font-weight: 400;
  &.mobile-navigation-visible {
    overflow-x: hidden;
  }
  position: relative;
}

img {
  display: inline-block;
}

.custom-container {
  width: 1440px;
  max-width: 100%;
  margin: 0 auto;
}

.no-margin {
  margin: 0;
}
.no-padding {
  padding: 0;
}

.inline-block-element {
  display: inline-block;

  &.middle-align {
    vertical-align: middle;
  }
}

.no-heading {
  margin-top: 22px;
}

.weight-normal {
  font-weight: 400;
}

.weight-light {
  font-weight: 300;
}

.weight-thin {
  font-weight: 200;
}

.weight-hairline{
  font-weight: 100;
}

.product-image {
  border: 0;
}

.main-container {
  padding-top: 0;
}

.page-title {
  h1 {
    color: #333;
    border-bottom: 0;
  }
}