$nav-breakpoint-1: 1650px;
$nav-breakpoint-2: 1350px;
$nav-breakpoint-3: 1200px;
$mobile-nav-breakpoint: $nav-breakpoint-3;
$mobile-nav-logo-breakpoint: 450px;
$mobile-menu-width-lg: 400px;
$mobile-menu-width-sm: calc(100% - 70px);