.default-font-family {
  font-family: 'Exo2', 'Lato', sans-serif;
}

#magecheckout-one-step-checkout {
  .onestep-title,
  .onestep-title-number{
    background: #333;

    h2 {
      font-weight: 400;

      i, span {
        display: inline-block;
        vertical-align: middle;
      }

      span {
        margin-top: 6px;
      }
    }
  }
  .button-action {
    background-color: #333;
  }

  .button {
    background: #333;
  }

  #one-step-checkout-place-order {
    .button {
      background: #333;
    }
  }

  .checkbox {
    display: inline-block;
    margin-top: 0;
    margin-right: 3px;

    + label {
      margin-top: 1px;
      display: inline-block;
      min-width: 0;
      font-family: 'Exo2', 'Lato', sans-serif !important;
    }
  }

  #one-step-checkout-review-newsletter-default {
    margin-top: 9px;
  }

  #comments {
    max-width: 100%;
    border-color: silver;
    transition: border 0.25s;

    &:focus {
      outline: none;
      border-color: #333;
    }
  }

  .input-text {
    padding: 0 6px;

    &.update {
      outline: none;
      transition: border 0.25s;


      &:focus {
        border-color: #333;
      }
    }
  }

  .one-step-checkout-cart-table {
    tr, td, th, tbody, tfoot, .price, td a {
      font-family: 'Exo2', 'Lato', sans-serif !important;
    }
  }

  #checkout-payment-method-load input.radio {
    margin-top: 0;

    + label {
      font-family: 'Exo2', 'Lato', sans-serif !important;
    }
  }
}

button.button {
  background: #333333;
  transition: background 0.25s;

  &:hover,
  &:focus {
    background: #000;
  }
}