.ps-product-tabs {
  margin: 90px 0;

  h2 {
    text-align: left;
    margin: 0 0 30px;
  }
  .ps-product-tabs-toggle {
    font-size: 18px;
    margin: 0 0 1em;
    cursor: pointer;
    color: #888A8C;
    font-weight: 300;

    &:hover {
      font-weight: 400;
    }

    &.active {
      font-weight: 500;
    }
  }

  .ps-product-tabs-content {

    &:not(.open) {
      display: none;
    }

    p {
      font-size: 18px;
      margin: 0 0 1rem;
      color: #888A8C;
      font-weight: 300;
    }
  }

  @media(max-width: 767px) {
    margin-top: 30px;
    margin-bottom: 30px;
    &, & h2 {
      text-align: center;
    }
  }
}