$_containers-width: 700px;

.product-view-data-container {
  max-width: $_containers-width;
  width: 100%;
  margin: 0 auto;
}

@import "product-add-to-cart";
@import "product-details";
@import "product-details-carousel";
@import "product-options";
@import "product-options-select";
@import "product-tabs";