.breadcrumbs
{
	ul
	{
		list-style: none;
		overflow: hidden;
		padding: 0;

		li
		{
			float: left;
			color: #ccc;
			a
			{
				color: #ccc;
				@include transition(color 0.25s);


				&:hover
				{
					color: $base-color-blue;
					text-decoration: none;
				}
			}

			.bread-separator
			{
				margin: 0 5px;
			}
		}
	}
}