// Black

@font-face {
  font-family: 'Exo2';
  src: url('../fonts/Exo2/exo2_black/Exo2-Black-webfont.eot');
  src: url('../fonts/Exo2/exo2_black/Exo2-Black-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Exo2/exo2_black/Exo2-Black-webfont.woff') format('woff'),
  url('../fonts/Exo2/exo2_black/Exo2-Black-webfont.ttf') format('truetype'),
  url('../fonts/Exo2/exo2_black/Exo2-Black-webfont.svg#exo_2black') format('svg');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Exo2';
  src: url('../fonts/Exo2/exo2_blackitalic/Exo2-BlackItalic-webfont.eot');
  src: url('../fonts/Exo2/exo2_blackitalic/Exo2-BlackItalic-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Exo2/exo2_blackitalic/Exo2-BlackItalic-webfont.woff') format('woff'),
  url('../fonts/Exo2/exo2_blackitalic/Exo2-BlackItalic-webfont.ttf') format('truetype'),
  url('../fonts/Exo2/exo2_blackitalic/Exo2-BlackItalic-webfont.svg#exo_2black_italic') format('svg');
  font-weight: 900;
  font-style: italic;
}

// Extra Bold

@font-face {
  font-family: 'Exo2';
  src: url('../fonts/Exo2/exo2_extrabold/Exo2-ExtraBoldI-webfont.eot');
  src: url('../fonts/Exo2/exo2_extrabold/Exo2-ExtraBoldI-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Exo2/exo2_extrabold/Exo2-ExtraBoldI-webfont.woff') format('woff'),
  url('../fonts/Exo2/exo2_extrabold/Exo2-ExtraBoldI-webfont.ttf') format('truetype'),
  url('../fonts/Exo2/exo2_extrabold/Exo2-ExtraBoldI-webfont.svg#exo_2extra_bold') format('svg');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Exo2';
  src: url('../fonts/Exo2/exo2_extrabolditalic/Exo2-ExtraBoldItalic-webfont.eot');
  src: url('../fonts/Exo2/exo2_extrabolditalic/Exo2-ExtraBoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Exo2/exo2_extrabolditalic/Exo2-ExtraBoldItalic-webfont.woff') format('woff'),
  url('../fonts/Exo2/exo2_extrabolditalic/Exo2-ExtraBoldItalic-webfont.ttf') format('truetype'),
  url('../fonts/Exo2/exo2_extrabolditalic/Exo2-ExtraBoldItalic-webfont.svg#exo_2extra_bold') format('svg');
  font-weight: 800;
  font-style: italic;
}

// Bold

@font-face {
  font-family: 'Exo2';
  src: url('../fonts/Exo2/exo2_bold/Exo2-Bold-webfont.eot');
  src: url('../fonts/Exo2/exo2_bold/Exo2-Bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Exo2/exo2_bold/Exo2-Bold-webfont.woff') format('woff'),
  url('../fonts/Exo2/exo2_bold/Exo2-Bold-webfont.ttf') format('truetype'),
  url('../fonts/Exo2/exo2_bold/Exo2-Bold-webfont.svg#exo_2bold') format('svg');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Exo2';
  src: url('../fonts/Exo2/exo2_bolditalic/Exo2-BoldItalic-webfont.eot');
  src: url('../fonts/Exo2/exo2_bolditalic/Exo2-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Exo2/exo2_bolditalic/Exo2-BoldItalic-webfont.woff') format('woff'),
  url('../fonts/Exo2/exo2_bolditalic/Exo2-BoldItalic-webfont.ttf') format('truetype'),
  url('../fonts/Exo2/exo2_bolditalic/Exo2-BoldItalic-webfont.svg#exo_2bold') format('svg');
  font-weight: 700;
  font-style: italic;
}

// Semibold

@font-face {
  font-family: 'Exo2';
  src: url('../fonts/Exo2/exo2_semibold/Exo2-SemiBold-webfont.eot');
  src: url('../fonts/Exo2/exo2_semibold/Exo2-SemiBold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Exo2/exo2_semibold/Exo2-SemiBold-webfont.woff') format('woff'),
  url('../fonts/Exo2/exo2_semibold/Exo2-SemiBold-webfont.ttf') format('truetype'),
  url('../fonts/Exo2/exo2_semibold/Exo2-SemiBold-webfont.svg#exo_2semi_bold') format('svg');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Exo2';
  src: url('../fonts/Exo2/exo2_semibolditalic/Exo2-SemiBoldItalic-webfont.eot');
  src: url('../fonts/Exo2/exo2_semibolditalic/Exo2-SemiBoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Exo2/exo2_semibolditalic/Exo2-SemiBoldItalic-webfont.woff') format('woff'),
  url('../fonts/Exo2/exo2_semibolditalic/Exo2-SemiBoldItalic-webfont.ttf') format('truetype'),
  url('../fonts/Exo2/exo2_semibolditalic/Exo2-SemiBoldItalic-webfont.svg#exo_2semi_bold') format('svg');
  font-weight: 600;
  font-style: italic;
}

// Medium

@font-face {
  font-family: 'Exo2';
  src: url('../fonts/Exo2/exo2_medium/Exo2-Medium-webfont.eot');
  src: url('../fonts/Exo2/exo2_medium/Exo2-Medium-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Exo2/exo2_medium/Exo2-Medium-webfont.woff') format('woff'),
  url('../fonts/Exo2/exo2_medium/Exo2-Medium-webfont.ttf') format('truetype'),
  url('../fonts/Exo2/exo2_medium/Exo2-Medium-webfont.svg#exo_2medium') format('svg');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Exo2';
  src: url('../fonts/Exo2/exo2_mediumitalic/Exo2-MediumItalic-webfont.eot');
  src: url('../fonts/Exo2/exo2_mediumitalic/Exo2-MediumItalic-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Exo2/exo2_mediumitalic/Exo2-MediumItalic-webfont.woff') format('woff'),
  url('../fonts/Exo2/exo2_mediumitalic/Exo2-MediumItalic-webfont.ttf') format('truetype'),
  url('../fonts/Exo2/exo2_mediumitalic/Exo2-MediumItalic-webfont.svg#exo_2medium') format('svg');
  font-weight: 500;
  font-style: italic;
}

// Regular

@font-face {
  font-family: 'Exo2';
  src: url('../fonts/Exo2/exo2_regular/Exo2-Regular-webfont.eot');
  src: url('../fonts/Exo2/exo2_regular/Exo2-Regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Exo2/exo2_regular/Exo2-Regular-webfont.woff') format('woff'),
  url('../fonts/Exo2/exo2_regular/Exo2-Regular-webfont.ttf') format('truetype'),
  url('../fonts/Exo2/exo2_regular/Exo2-Regular-webfont.svg#exo_2regular') format('svg');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Exo2';
  src: url('../fonts/Exo2/exo2_italic/Exo2-Italic-webfont.eot');
  src: url('../fonts/Exo2/exo2_italic/Exo2-Italic-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Exo2/exo2_italic/Exo2-Italic-webfont.woff') format('woff'),
  url('../fonts/Exo2/exo2_italic/Exo2-Italic-webfont.ttf') format('truetype'),
  url('../fonts/Exo2/exo2_italic/Exo2-Italic-webfont.svg#exo_2italic') format('svg');
  font-weight: 400;
  font-style: italic;
}

// Light

@font-face {
  font-family: 'Exo2';
  src: url('../fonts/Exo2/exo2_light/Exo2-Light-webfont.eot');
  src: url('../fonts/Exo2/exo2_light/Exo2-Light-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Exo2/exo2_light/Exo2-Light-webfont.woff') format('woff'),
  url('../fonts/Exo2/exo2_light/Exo2-Light-webfont.ttf') format('truetype'),
  url('../fonts/Exo2/exo2_light/Exo2-Light-webfont.svg#exo_2light') format('svg');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Exo2';
  src: url('../fonts/Exo2/exo2_lightitalic/Exo2-LightItalic-webfont.eot');
  src: url('../fonts/Exo2/exo2_lightitalic/Exo2-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Exo2/exo2_lightitalic/Exo2-LightItalic-webfont.woff') format('woff'),
  url('../fonts/Exo2/exo2_lightitalic/Exo2-LightItalic-webfont.ttf') format('truetype'),
  url('../fonts/Exo2/exo2_lightitalic/Exo2-LightItalic-webfont.svg#exo_2light') format('svg');
  font-weight: 300;
  font-style: italic;
}

// Extra light

@font-face {
  font-family: 'Exo2';
  src: url('../fonts/Exo2/exo2_extralight/Exo2-ExtraLight-webfont.eot');
  src: url('../fonts/Exo2/exo2_extralight/Exo2-ExtraLight-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Exo2/exo2_extralight/Exo2-ExtraLight-webfont.woff') format('woff'),
  url('../fonts/Exo2/exo2_extralight/Exo2-ExtraLight-webfont.ttf') format('truetype'),
  url('../fonts/Exo2/exo2_extralight/Exo2-ExtraLight-webfont.svg#exo_2extra_light') format('svg');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Exo2';
  src: url('../fonts/Exo2/exo2_extralightitalic/Exo2-ExtraLightItalic-webfont.eot');
  src: url('../fonts/Exo2/exo2_extralightitalic/Exo2-ExtraLightItalic-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Exo2/exo2_extralightitalic/Exo2-ExtraLightItalic-webfont.woff') format('woff'),
  url('../fonts/Exo2/exo2_extralightitalic/Exo2-ExtraLightItalic-webfont.ttf') format('truetype'),
  url('../fonts/Exo2/exo2_extralightitalic/Exo2-ExtraLightItalic-webfont.svg#exo_2extra_light') format('svg');
  font-weight: 200;
  font-style: italic;
}

// Thin

@font-face {
  font-family: 'Exo2';
  src: url('../fonts/Exo2/exo2_thin/Exo2-Thin-webfont.eot');
  src: url('../fonts/Exo2/exo2_thin/Exo2-Thin-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Exo2/exo2_thin/Exo2-Thin-webfont.woff') format('woff'),
  url('../fonts/Exo2/exo2_thin/Exo2-Thin-webfont.ttf') format('truetype'),
  url('../fonts/Exo2/exo2_thin/Exo2-Thin-webfont.svg#exo_2thin') format('svg');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Exo2';
  src: url('../fonts/Exo2/exo2_thinitalic/Exo2-ThinItalic-webfont.eot');
  src: url('../fonts/Exo2/exo2_thinitalic/Exo2-ThinItalic-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Exo2/exo2_thinitalic/Exo2-ThinItalic-webfont.woff') format('woff'),
  url('../fonts/Exo2/exo2_thinitalic/Exo2-ThinItalic-webfont.ttf') format('truetype'),
  url('../fonts/Exo2/exo2_thinitalic/Exo2-ThinItalic-webfont.svg#exo_2thin') format('svg');
  font-weight: 100;
  font-style: normal;
}











