/*
Hairline - 100
Thin - 200
Light - 300
Regular - 400
Semibold - 500
Bold - 600
Heavy - 700
Black - 900
*/

// Hairline
@font-face {
  font-family: 'Lato';
  src: url("../fonts/lato/Lato-Hairline.eot"); /* IE9 */
  src: url("../fonts/lato/Lato-Hairline.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../fonts/lato/Lato-Hairline.woff") format("woff"), /* chrome, firefox */
  url("../fonts/lato/Lato-Hairline.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url("../fonts/lato/Lato-Hairline.svg#Lato-Hairline") format("svg"); /* iOS 4.1- */
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url("../fonts/lato/Lato-HairlineItalic.eot"); /* IE9 */
  src: url("../fonts/lato/Lato-HairlineItalic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../fonts/lato/Lato-HairlineItalic.woff") format("woff"), /* chrome, firefox */
  url("../fonts/lato/Lato-HairlineItalic.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url("../fonts/lato/Lato-HairlineItalic.svg#Lato-Hairline") format("svg"); /* iOS 4.1- */
  font-weight: 100;
  font-style: italic;
}

//Thin
@font-face {
  font-family: 'Lato';
  src: url("../fonts/lato/Lato-Thin.eot"); /* IE9 */
  src: url("../fonts/lato/Lato-Thin.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../fonts/lato/Lato-Thin.woff") format("woff"), /* chrome, firefox */
  url("../fonts/lato/Lato-Thin.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url("../fonts/lato/Lato-Thin.svg#Lato-Thin") format("svg"); /* iOS 4.1- */
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url("../fonts/lato/Lato-ThinItalic.eot"); /* IE9 */
  src: url("../fonts/lato/Lato-ThinItalic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../fonts/lato/Lato-ThinItalic.woff") format("woff"), /* chrome, firefox */
  url("../fonts/lato/Lato-ThinItalic.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url("../fonts/lato/Lato-ThinItalic.svg#Lato-Thin") format("svg"); /* iOS 4.1- */
  font-weight: 200;
  font-style: italic;
}

// Light
@font-face {
  font-family: 'Lato';
  src: url("../fonts/lato/Lato-Light.eot"); /* IE9 */
  src: url("../fonts/lato/Lato-Light.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../fonts/lato/Lato-Light.woff") format("woff"), /* chrome, firefox */
  url("../fonts/lato/Lato-Light.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url("../fonts/lato/Lato-Light.svg#Lato-Light") format("svg"); /* iOS 4.1- */
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url("../fonts/lato/Lato-LightItalic.eot"); /* IE9 */
  src: url("../fonts/lato/Lato-LightItalic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../fonts/lato/Lato-LightItalic.woff") format("woff"), /* chrome, firefox */
  url("../fonts/lato/Lato-LightItalic.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url("../fonts/lato/Lato-LightItalic.svg#Lato-Light") format("svg"); /* iOS 4.1- */
  font-weight: 300;
  font-style: italic;
}

// Regular
@font-face {
  font-family: 'Lato';
  src: url("../fonts/lato/Lato-Regular.eot"); /* IE9 */
  src: url("../fonts/lato/Lato-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../fonts/lato/Lato-Regular.woff") format("woff"), /* chrome, firefox */
  url("../fonts/lato/Lato-Regular.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url("../fonts/lato/Lato-Regular.svg#Lato-Regular") format("svg"); /* iOS 4.1- */
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url("../fonts/lato/Lato-RegularItalic.eot"); /* IE9 */
  src: url("../fonts/lato/Lato-RegularItalic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../fonts/lato/Lato-RegularItalic.woff") format("woff"), /* chrome, firefox */
  url("../fonts/lato/Lato-RegularItalic.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url("../fonts/lato/Lato-RegularItalic.svg#Lato-Regular") format("svg"); /* iOS 4.1- */
  font-weight: 400;
  font-style: italic;
}

// Semibold
@font-face {
  font-family: 'Lato';
  src: url("../fonts/lato/Lato-Semibold.eot"); /* IE9 */
  src: url("../fonts/lato/Lato-Semibold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../fonts/lato/Lato-Semibold.woff") format("woff"), /* chrome, firefox */
  url("../fonts/lato/Lato-Semibold.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url("../fonts/lato/Lato-Semibold.svg#Lato-Semibold") format("svg"); /* iOS 4.1- */
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url("../fonts/lato/Lato-SemiboldItalic.eot"); /* IE9 */
  src: url("../fonts/lato/Lato-SemiboldItalic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../fonts/lato/Lato-SemiboldItalic.woff") format("woff"), /* chrome, firefox */
  url("../fonts/lato/Lato-SemiboldItalic.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url("../fonts/lato/Lato-SemiboldItalic.svg#Lato-Semibold") format("svg"); /* iOS 4.1- */
  font-weight: 500;
  font-style: italic;
}

// Bold
@font-face {
  font-family: 'Lato';
  src: url("../fonts/lato/Lato-Bold.eot"); /* IE9 */
  src: url("../fonts/lato/Lato-Bold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../fonts/lato/Lato-Bold.woff") format("woff"), /* chrome, firefox */
  url("../fonts/lato/Lato-Bold.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url("../fonts/lato/Lato-Bold.svg#Lato-Bold") format("svg"); /* iOS 4.1- */
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url("../fonts/lato/Lato-BoldItalic.eot"); /* IE9 */
  src: url("../fonts/lato/Lato-BoldItalic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../fonts/lato/Lato-BoldItalic.woff") format("woff"), /* chrome, firefox */
  url("../fonts/lato/Lato-BoldItalic.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url("../fonts/lato/Lato-BoldItalic.svg#Lato-Bold") format("svg"); /* iOS 4.1- */
  font-weight: 600;
  font-style: italic;
}

// Heavy
@font-face {
  font-family: 'Lato';
  src: url("../fonts/lato/Lato-Heavy.eot"); /* IE9 */
  src: url("../fonts/lato/Lato-Heavy.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../fonts/lato/Lato-Heavy.woff") format("woff"), /* chrome, firefox */
  url("../fonts/lato/Lato-Heavy.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url("../fonts/lato/Lato-Heavy.svg#Lato-Heavy") format("svg"); /* iOS 4.1- */
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url("../fonts/lato/Lato-HeavyItalic.eot"); /* IE9 */
  src: url("../fonts/lato/Lato-HeavyItalic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../fonts/lato/Lato-HeavyItalic.woff") format("woff"), /* chrome, firefox */
  url("../fonts/lato/Lato-HeavyItalic.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url("../fonts/lato/Lato-HeavyItalic.svg#Lato-Heavy") format("svg"); /* iOS 4.1- */
  font-weight: 700;
  font-style: italic;
}

// Black
@font-face {
  font-family: 'Lato';
  src: url("../fonts/lato/Lato-Black.eot"); /* IE9 */
  src: url("../fonts/lato/Lato-Black.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../fonts/lato/Lato-Black.woff") format("woff"), /* chrome, firefox */
  url("../fonts/lato/Lato-Black.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url("../fonts/lato/Lato-Black.svg#Lato-Black") format("svg"); /* iOS 4.1- */
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url("../fonts/lato/Lato-BlackItalic.eot"); /* IE9 */
  src: url("../fonts/lato/Lato-BlackItalic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../fonts/lato/Lato-BlackItalic.woff") format("woff"), /* chrome, firefox */
  url("../fonts/lato/Lato-BlackItalic.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url("../fonts/lato/Lato-BlackItalic.svg#Lato-Black") format("svg"); /* iOS 4.1- */
  font-weight: 900;
  font-style: italic;
}