@font-face {
    font-family: "Lato-RegularItalic";
    src: url("Lato-RegularItalic.eot"); /* IE9 */
    src: url("Lato-RegularItalic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("Lato-RegularItalic.woff") format("woff"), /* chrome, firefox */
    url("Lato-RegularItalic.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("Lato-RegularItalic.svg#Lato-RegularItalic") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


