.over-category-view {
  h1.category-name {
    font-weight: 200;
  }

  .subcategory-box {
    text-align: center;
    margin-bottom: 60px;

    img.category-image {
      margin-top: 30px;
    }
  }

  .credits-heading {
    font-weight: 300;
    text-align: left;
    font-size: 30px;
  }
}