.products-list.featured {
  li {
    margin: 0 20px;
    .image {
      text-align: center;

      img {
        max-width: 100%;
        height: auto;
      }
    }

    .product-details {
      text-align: center;
      margin-top: 1em;

      h3.name {
        font-weight: 400;
        font-size: 20px;
        color: #363636;
        text-transform: uppercase;
        margin: 0;
      }
      .category {
        font-weight: 200;
        font-size: 16px;
        color: #969696;
        margin: 0.2em 0;
      }
      .price {
        font-weight: 400;
        font-size: 18px;
        color: #363636;
        margin: 0;
      }
    }
  }

  .owl-controls {
    @include owl-carousel-buttons();
    @include owl-carousel-pagination();
  }
}