#home-instagram {
  font-size: 0;
  margin-right: -2px;
  margin-left: -2px;
  .instagram-image {
    width: calc(100% / 6);
    display: inline-block;
    vertical-align: middle;
    padding: 2px;

    img {
      width: 100%;
      height: auto;
    }

    @media(max-width: 1199px) {
      width: calc(100% / 3);
    }

    @media(max-width: 767px) {
      width: calc(100% / 2);
    }
  }
}