.error404 {
  margin-left: -15px;
  margin-right: -15px;

  position: relative;
  min-height: calc(75vh + 100px);

  background: url('../img/error_404_bg_2.jpg') no-repeat center;
  background-size: cover;

  .error-inside {
    margin-top: calc(75px / 2);
    position: absolute;
    left: 0;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    
    h1 {
      font-size: 80px;
      color: #fff;
      margin: 0;
      font-weight: 400;
    }
    h2 {
      margin-top: 10px;
      color: #fff;
      font-size: 50px;
      font-weight: 300;
      margin-bottom: 1rem;
    }

    p {
      text-align: center;
      color: #fff;
      font-style: normal;
      font-family: inherit;
    }
  }
}