.input-box {
  input {
    outline: none;
    transition: border-color 0.25s;

    &:focus {
      border-color: #444;
    }
  }
}

ul.form-list {
  li {
    label {
      font-weight: 400;
    }

    input:not([type=checkbox]) {
      border-radius: 0;
      border-width: 0 0 1px 0;

      &:focus {
        border-width: 0 0 1px 0;
      }
    }
  }
}

label {
  font-family: 'Exo2', 'Lato', sans-serif;
}

input[type=checkbox] + label {
  transition: background 0.25s;
  cursor: pointer;
}

input[type=checkbox]:checked + label,
input[type=checkbox]:checked + label:hover {
  background: #333;
  color: #eee;
}

#one-step-checkout-billing-use-for-shipping {
  input[type=checkbox]:checked + label,
  input[type=checkbox]:checked + label:hover {
    background: transparent;
    color: inherit;
  }
}