header {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1000;
  transition: opacity 0.25s;

  $_logo-width: 150px;
  $_logo-height: 150px;
  $_font-size: 15px;

  &.fixed {
    @media(min-width: 768px) {
      position: fixed;
      background: #fff;
      height: 50px;
      -webkit-animation: slide-down 0.25s;
      -moz-animation: slide-down 0.25s;
      -o-animation: slide-down 0.25s;
      animation: slide-down 0.25s;
      opacity: 1;
    }
  }

  nav.main-navigation {
    position: relative;
    float: left;
    left: 0;
    top: 0;
    width: calc(50% - #{$_logo-width / 2});
    height: $_logo-height;
  }

  &.fixed {
    nav.main-navigation {
      height: 50px;
    }
    ul.header-links {
      top: 50%;
      transform: translateY(-50%);

      a {
        color: black !important;
      }

      li.active a {
        color: white !important;
      }
    }
  }

  ul.header-links {
    list-style: none;
    overflow: hidden;
    padding: 0;
    position: absolute;
    left: 0;
    top: 25%;
    width: 100%;
    text-align: center;

    li {
      display: inline-block;

      a {
        font-size: $_font-size;
        font-weight: 300;
        padding: 0 20px;
        color: black;
        text-transform: uppercase;
        display: inline-block;

        @media(max-width: $nav-breakpoint-1) {
          font-size: 14px;
          padding: 0 15px;
        }

        @media(max-width: $nav-breakpoint-2) {
          font-size: 12px;
          padding: 0 10px;
        }

        &:hover, &:focus {
          text-decoration: none;
        }

        span, img {
          display: inline-block;
          vertical-align: baseline;
        }

        span + img {
          margin-left: 10px;
        }

        img.header-icon {
          height: $_font-size - 2;
          width: auto;

          @media(max-width: $nav-breakpoint-2) {
            height: 11px;
            width: auto;
          }
        }
      }
      
      &.active {
        a {
          background: #333333;
          color: #fff;
        }
      }
    }
  }

  a.site-logo {
    display: block;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);

    width: $_logo-width;
    height: auto;
    text-align: center;
    img {
      width: $_logo-width - 50;
      height: auto;
      margin-top: ($_logo-width - 50) / 4;
    }
  }

  &.fixed a.site-logo {
    img {
      width: 40px;
      height: auto;
      margin-top: 5px;
    }
  }

  .navigation-right-menu {
    position: relative;
    float: right;
    left: 0;
    top: 0;
    width: calc(50% - #{$_logo-width / 2});
    height: $_logo-height;

    ul.header-links {
      min-width: 360px;
      left: auto;
      right: 0;
      transform: translate(0, 0);
      text-align: right;

      @media(max-width: $nav-breakpoint-2) {
        min-width: 0;
      }
    }
  }

  &.fixed {
    .navigation-right-menu {
      height: 50px;

      ul.header-links {
        top: 50%;
        transform: translateY(-50%);

        a {
          color: black !important;
        }

        li.active a {
          color: white !important;
        }
      }
    }
  }

  @media(max-width: $mobile-nav-breakpoint) {
    .hidden-on-mobile-nav {
      display: none !important;
    }

    .navigation-right-menu {
      ul.header-links {
        min-width: 0;

        li {
          span + img {
            margin-left: 0;
          }
        }
      }
    }
  }

  @media(min-width: $mobile-nav-breakpoint + 1){
    .visible-on-mobile-nav {
      display: none !important;
    }
  }

  @media(max-width: $mobile-nav-logo-breakpoint) {
    a.site-logo {
      width: 100px;
      height: auto;

      img {
        width: 60px;
        height: auto;
      }
    }

    nav.main-navigation, .navigation-right-menu {
      width: calc(50% - 50px);
      height: 100px;
    }
  }

  .mobile-menu-toggle {
    position: relative;
    top: 25%;
    left: 30px;

    .mobile-menu-lines {
      @mixin line-styles() {
        width: 20px;
        height: 2px;
        background: #333;
        transition: all 0.25s;
      }

      $_lines-spacing: 6px;

      @include line-styles();
      display: inline-block;
      transform: translateY(-3px);

      &:before {
        @include line-styles();
        position: absolute;
        left: 0;
        margin-top: -$_lines-spacing;
        content: ' ';
      }

      &:after {
        @include line-styles();
        position: absolute;
        left: 0;
        margin-top: $_lines-spacing;
        content: ' ';
      }

      &.active {
        background: transparent;

        &:before {
          transform: rotate(45deg);
          margin-top: 0;
        }
        &:after {
          transform: rotate(-45deg);
          margin-top: 0;
        }
      }
    }
  }
}

html {
  .page-wrapper {
    -webkit-transition: -webkit-transform 0.25s;
    -moz-transition: -moz-transform 0.25s;
    -o-transition: -o-transform 0.25s;
    transition: -webkit-transform 0.25s, -moz-transform 0.25s, -o-transform 0.25s, transform 0.25s;
  }

  &.mobile-navigation-visible {
    @media(max-width: $mobile-nav-breakpoint) {
      @media(min-width: $mobile-menu-width-lg + 71) {
        .page-wrapper {
          transform: translate3d($mobile-menu-width-lg, 0, 0);
        }
      }
      @media(max-width: $mobile-menu-width-lg + 70) {
        .page-wrapper {
          transform: translate3d($mobile-menu-width-sm, 0, 0);
        }
      }
    }
  }
}

.page-inside {
  padding-top: 150px;

  @media(max-width: 450px) {
    padding-top: 100px;
  }
}

.catalog-product-view {
  header {
    ul.header-links {
      li {
        a {
          color: white;
          font-weight: 400;
        }
      }
    }
  }
}