.top-banner {
  padding: 175px 0 75px;
  color: #fff;
  text-align: center;
  
  h1 {
    margin: 0 0 10px;
    color: #fff;
  }

  p {
    max-width: 650px;
    margin: 0 auto;
    font-weight: 300;
  }
}